html,
body {
  text-align: center;
  height: 100vh;
  width: 100vw;

  overflow: scroll;

  padding: 0;
  margin: 0;
}

h1 {
  color: #000;
  font-family: "Helvetica", sans-serif;
  font-size: 55px;
}

.main {
  padding-top: '80px !important';
  padding: 20px;
  margin: auto;
}

p {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: #000;
}

.mariana-iframe {
  z-index: auto;
  height: 100%;
  width: 100%;
  padding: 0;
  /* padding-top: '80px !important'; */
  margin: auto;
  border: none;
  background-color: transparent;
}

.buy-link a {
  z-index: 9999;
  color: #000;
  position: relative;
  /*
  top: 0;
  left: 0;
  */
}


.nav-bar {
  z-index: 9999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    color: #000;
    text-align: center;
    height: 55px;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: all .4s ease-in-out;
}

nav {
    color: #000 !important;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 13px;
    font-family: "Helvetica", sans-serif;
}

nav a {
    align-self: center;
    text-decoration: none;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

nav a:hover {
    color: black;
}
